{% extends "AppWeb/padre.html" %}

{% load static %}

{% block subtitulo %} 
<br/><br/>
<h1>Estudiantes</h1>
{% endblock %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    
    {% block section_name %}
    <h3>Formulario para ingresar estudiantes</h3>
    {% endblock %}

    {% if miFormulario.errors %}

    <p style="color: red;">Están mal los datos</p>

    {% endif %}
    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit", value="Enviar">

    </form>

{% endblock %}